@import "tailwindcss";

:root {
  --clr-bg-page: #fcfaf8;
  --clr-bg-card: #fcfaf8;
  --clr-black: #1f1f1f;

  --clr-text-header: var(--clr-primary);
  --clr-text-primary: #1f1f1f;
  --clr-text-secondary: #fcfaf8;

  --clr-primary: #42756C;
  --clr-secondary: #457B70;
  --clr-soft: #76BAAB;
  --clr-accent: #F39164;
}

@layer components {
  .container-2xl {
    @apply mx-auto px-4 max-w-[1540px];
  }

  .container-xl {
    @apply mx-auto px-4 max-w-[1400px];
  }

  .container-lg {
    @apply mx-auto px-4 max-w-[1200px];
  }

  .container-md {
    @apply mx-auto px-4 max-w-[800px];
  }

  .container-sm {
    @apply mx-auto px-4 max-w-[500px];
  }
}

