@import "tailwindcss";

:root {
  --clr-bg-page: #fcfaf8;
  --clr-bg-card: #fcfaf8;
  --clr-black: #1f1f1f;

  --clr-text-header: var(--clr-primary);
  --clr-text-primary: #1f1f1f;
  --clr-text-secondary: #fcfaf8;

  --clr-primary: #42756C;
  --clr-secondary: #457B70;
  --clr-soft: #76BAAB;
  --clr-accent: #F39164;
}

@layer components {
  .container-2xl {
    @apply mx-auto px-4 max-w-[1540px];
  }

  .container-xl {
    @apply mx-auto px-4 max-w-[1400px];
  }

  .container-lg {
    @apply mx-auto px-4 max-w-[1200px];
  }

  .container-md {
    @apply mx-auto px-4 max-w-[800px];
  }

  .container-sm {
    @apply mx-auto px-4 max-w-[500px];
  }
}


@layer base {
  .fc-day-today {
    background-color: #f0fdf4 !important; 
  }

  .fc .fc-col-header-cell.fc-day-today {
    font-weight: 800;
  }

  .unavailable-shading {
    background-color: rgba(239, 68, 68, 0.10) !important; 
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgba(0, 0, 0, 0.03) 10px,
      rgba(0, 0, 0, 0.03) 20px
    ) !important;
    z-index: 3 !important; 
    border: none !important;
    opacity: 1 !important;
  }

  section {
    scroll-margin-top: 80px;
  }

  html {
    scroll-behavior: smooth;
  }
  
}


